<div class="front-image">
    <div class="front-text text-center">
        <h1 #frontText>Kontakt</h1>
    </div>
</div>

<div class="cont mt-5 mb-5">
    <h2>Skontaktuj się z Nami</h2>
    <hr>
    <div class="cont-2 mt-3">
        <div>
            <h3>Adres:</h3>
            <h3> ul. Kwiatowa 10, Kraków</h3>
            <h3> 333 333 333</h3>
            <h3> info@info.pl</h3>
        </div>
        <div>
            <h3>Godziny otwarcia:</h3>
            <h3> Pn. - Czw. 13:00-22:00</h3>
            <h3> Pt. - Sob. 13:00-23:00</h3>
            <h3> Niedz. 12:00-22:00</h3>
        </div>
    </div>
</div>