<div class="fot">
    <div class="logo-cont">
        <a href="https://www.facebook.com/" target="_blank"><img class="icon" src="assets/fb-icon.png" alt=""></a>
        <a href="https://www.instagram.com/" target="_blank"><img class="icon" src="assets/ig-icon.png" alt=""></a>
        <a href="https://www.tripadvisor.com/" target="_blank"><img class="icon" src="assets/ta-icon.png" alt=""></a>
    </div>
    <img class="logo" src="assets/logo.png" alt="" routerLink="/">
    <h3>Zielone Serce Krakowa</h3>
    <p>Pierwszy Stopień | Wszystkie prawa zastrzeżone</p>
</div>
