<div>
    <div class="front-image" #frontImage>
        <div class="front-cont">
            <h1 style="margin-left: auto;" id="title">Zielone Serce Krakowa</h1>
            <br><br>
            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
        </div>
        <div class="front-cont">
            <img class="logo" src="assets/logo.png" alt="">
            <button class="menu-but" routerLink="/menu">ZOBACZ NASZE MENU</button>
        </div>
    </div>
    <div class="description">
        <h1>Restauracja w Krakowie</h1>
        <br>
        <h2>Nowoczesne dania z lokalnych produktów</h2>
        <br>
        <div class="description-cont">
            <div>
                <p>Pierwszy Stopień to nie tylko restauracja w Krakowie, ale miejsce rodzinne, które stworzyliśmy łącząc
                    naszą
                    miłość do roślin i dobrych, regionalnych produktów. Współpracujemy z rolnikami z okolic Krakowa,
                    którzy
                    dostarczają swoje wyroby do naszej restauracji i wspólnie z nami tworzą markę „Stopień natury – eco
                    food and
                    more”. Nasze domowe konfitury i dania w słoikach można skosztować nie tylko zamawiając dania w
                    restauracji,
                    ale również kupując je w słoiczkach. W Pierwszym Stopniu postaraliśmy się również, aby alkohole,
                    które
                    serwujemy były zgodne z naszą filozofią. Nasze biodynamiczne wina, zachwycają smakiem i jakością.
                    Warto
                    również spróbować infuzowanych wódek i drinków, których smaki komponowane są w oparciu o znane nam,
                    lecz
                    może czasem nieco zapomniane lokalne zioła i owoce.</p>
                <p>Pierwszy Stopień to połączenie natury, smaku i dobrej zabawy!</p>

            </div>
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="map">
        <h1>Odkryj Nas</h1><br>
        <h2>Na Kazimierzu</h2><br>
        <p>Przyjdź do nas na Kwiatową 10 i przekonaj się, że Pierwszy Stopień jest miejscem dla Ciebie.</p>

        <app-map></app-map>
    </div>
</div>