@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~ngx-toastr/toastr';

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.toast-top-right {
    position: fixed !important;
    top: 100px;
}
